interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://climate.weather.gc.ca/climate_data/bulk_data_e.html?climate_id=1096453&Year=2021&Month=1&Day=1&format=xml&timeframe=2&submit=Download%2BData
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><climatedata xmlns:xsd=\"http://www.w3.org/TR/xmlschema-1/\"
        xsd:schemaLocation=\"http://climate.weather.gc.ca/climate_data/bulkxml/bulkschema.xsd\"><lang>ENG</lang><stationinformation><name>PRINCE
        GEORGE AIRPORT AUTO</name><province_or_territory>BRITISH COLUMBIA</province_or_territory><stationoperator>Environment
        and Climate Change Canada - Meteorological Service of Canada</stationoperator><latitude>53.89</latitude><longitude>-122.67</longitude><elevation>680.00</elevation><climate_identifier>1096453</climate_identifier><wmo_identifier>71302</wmo_identifier><tc_identifier>VXS</tc_identifier></stationinformation><legend>\r\n
        \                  <flag>\r\n                       <symbol>A</symbol>\r\n
        \                      <description>Accumulated</description>\r\n                   </flag>\r\n
        \                  <flag>\r\n                       <symbol>C</symbol>\r\n
        \                      <description>Precipitation occurred, amount uncertain</description>\r\n
        \                  </flag>\r\n                   <flag>\r\n                       <symbol>E</symbol>\r\n
        \                      <description>Estimated</description>\r\n                   </flag>\r\n
        \                  <flag>\r\n  [...]
