interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dd.weather.gc.ca/today/citypage_weather/docs/site_list_towns_en.csv
  response:
    body:
      string: "Site Names,,,,\nCodes,English Names,Province Codes,Latitude,Longitude\ns0000106,100
        Mile House,BC,51.64N,121.29W\ns0000758,Abbotsford,BC,49.06N,122.32W\ns0000399,Agassiz,BC,49.23N,121.77W\ns0000768,Airdrie,AB,51.28N,114.00W\ns0000570,Aklavik,NT,68.22N,135.01W\ns0000578,Akulivik,QC,60.81N,78.20W\ns0000821,Alert,NU,82.50N,62.37W\ns0000070,Alexandria,ON,45.31N,74.63W\ns0000073,Algonquin
        Park (Brent),ON,45.49N,78.07W\ns0000074,Algonquin Park (Lake of Two Rivers),ON,45.58N,78.48W\ns[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dd.weather.gc.ca/today/citypage_weather/ON/03/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /today/citypage_weather/ON/03</title>\n </head>\n
        <body>\n<h1>Index of /today/citypage_weather/ON/03</h1>\n<pre><img src=\"/icons/blank.gif\"
        alt=\"Icon \"> <a href=\"?C=N;O=D\">Name</a>                                                     <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr><img src=\"/icons/back.gif\" alt=\"[PARENTDIR]\">
        <a href=\"/today/citypage_weather/ON/\">Parent Directory</a>                                                              -
        \  \n<img src=\"/icons/unknown.gif\" alt=\"[   ]\"> <a href=\"20260516T030036.716Z_MSC_CitypageWeather_s0000585_en.xml\">20260516T030036.716Z_MSC_CitypageWeather_s0000585_en.xml</a>
        2026-05-16 03:01   35K  \n<img src=\"/icons/unknown.gif\" alt=\"[   ]\"> <a
        href=\"20260516T030036.716Z_MSC_City[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dd.weather.gc.ca/today/citypage_weather/ON/03/20260516T030126.376Z_MSC_CitypageWeather_s0000430_en.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<siteData xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"https://dd.weather.gc.ca/today/citypage_weather/schema/site.xsd\">\n
        \  <license>https://dd.weather.gc.ca/doc/LICENCE_GENERAL.txt</license>\n   <dateTime
        name=\"xmlCreation\" zone=\"UTC\" UTCOffset=\"0\">\n      <year>2026</year>\n
        \     <month name=\"May\">05</month>\n      <day name=\"Saturday\">16</day>\n
        \     <hour>03</hour>\n      <minute>01</minute>\n      <timeStamp>20260516030126</timeStamp>\n
        \     <textSummary>Saturday May 16, 2026 at 03:01 UTC</textSummary>\n   </dateTime>\n
        \  <dateTime name=\"xmlCreation\" zone=\"EDT\" UTCOffset=\"-4\">\n      <year>2026</year>\n
        \     <month name=\"May\">05</month>\n      <day name=\"Friday\">15</day>\n
        \     <hour>23</hour>\n      <minute>01</minute>\n      <timeStamp>20260515230126</timeStamp>\n
        \     <textSummary>Friday May 15, 2026 at 23:01 EDT</textSummary>\n   </dateTime>\n
        \  <location>\n      <continent>North America</continent>\n      <country
        code=\"ca\">Canada</country>\n      <province code=\"on\">Ontario</province>\n
        \     <name code=\"s0000430\" lat=\"45.40N\" lon=\"75.69W\">Ottawa (Kanata
        - Orl\xE9ans)</name>\n      <region>Ottawa North - Kanata - Orl\xE9ans</region>\n
        \  </location>\n   <warnings/>\n   <currentConditions>\n      <station code=\"yow\"
        lat=\"45.32N\" lon=\"75.67W\">Ottawa Macdonald-Cartier Int&apos;l Airport</station>\n
        \     <dateTime name=\"observation\" zone=\"UTC\" UTCOffset=\"0\">\n         <year>2026</year>\n
        \        <month name=\"May\">05</month>\n         <day name=\"Saturday\">16</day>\n
        \        <hour>03</hour>\n         <minute>00</minute>\n         <timeStamp>20260516030000</timeStamp>\n
        \        <textSummary>Saturday May 16, 2026 at 03:00 UTC</textSummary>\n      </dateTime>\n
        \     <dateTime name=\"observation\" zone=\"EDT\" UTCOffset=\"-4\">\n         <year>2026</year>\n
        \        <month name=\"May\">05</month>\n         <day name=\"Friday\">15</day>\n
        \        <hour>23</hour>\n         <minute>00</minute>\n         <timeStamp>20260515230000</timeStamp>\n
        \        <textSummary>Friday May 15, 2026 at 23:00 EDT</textSummary>\n      </dateTime>\n
        \     <condition>Mainly Clear</condition>\n      <iconCode format=\"gif\">31</iconCode>\n
        \     <temperature unitType=\"metric\" units=\"C\" qaValue=\"100\">11.4</temperature>\n
        \     <dewpoint unitType=\"metric\" units=\"C\" qaValue=\"100\">6.6</dewpoint>\n
        \     <pressure unitType=\"metric\" units=\"kPa\" change=\"0.07\" tendency=\"rising\"
        qaValue=\"100\">101.4</pressure>\n      <visibility unitType=\"metric\" units=\"km\"
        qaValue=\"100\">24.1</visibility>\n      <relativeHumidity units=\"%\" qaValue=\"100\">72</relativeHumidity>\n
        \     <wind>\n         <speed unitType=\"metric\" units=\"km/h\" qaValue=\"100\">10</speed>\n
        \        <gust unitType=\"metric\" units=\"km/h\"></gust>\n         <direction
        qaValue=\"100\">S</direction>\n         <bearing units=\"degrees\" qaValue=\"100\">181.0</bearing>\n
        \     </wind>\n   </currentConditions>\n   <forecastGroup>\n      <dateTime
        name=\"forecastIssue\" zone=\"UTC\" UTCOffset=\"0\">\n         <year>2026</year>\n
        \        <month name=\"May\">05</month>\n         <day name=\"Friday\">15</day>\n
        \        <hour>19</hour>\n         <minute>30</minute>\n         <timeStamp>20260515193000</timeStamp>\n
        \        <textSummary>Friday May 15, 2026 at 19:30 UTC</textSummary>\n      </dateTime>\n
        \     <dateTime name=\"forecastIssue\" zone=\"EDT\" UTCOffset=\"-4\">\n         <year>2026</year>\n
        \        <month name=\"May\">05</month>\n         <day name=\"Friday\">15</day>\n
        \        <hour>15</hour>\n         <minute>30</minute>\n         <timeStamp>20260515153000</timeStamp>\n
        \        <textSummary>Friday May 15, 2026 at 15:30 EDT</textSummary>\n      </dateTime>\n
        \     <regionalNormals>\n         <textSummary>Low 8. High 20.</textSummary>\n
        \        <temperature unitType=\"metric\" units=\"C\" class=\"high\">20</temperature>\n
        \        <temperature unitType=\"metric\" units=\"C\" class=\"low\">8</temperature>\n
        \     </regionalNormals>\n      <forecast>\n         <period textForecastName=\"Tonight\">Friday
        night</period>\n         <textSummary>Partly cloudy. 30 percent chance of
        showers early this evening. Clearing overnight. Low 8.</textSummary>\n         <cloudPrecip>\n
        \           <textSummary>Partly cloudy. 30 percent chance of showers early
        this evening. Clearing overnight.</textSummary>\n         </cloudPrecip>\n
        \        <abbreviatedForecast>\n            <iconCode format=\"gif\">36</iconCode>\n
        \           <pop units=\"%\">30</pop>\n            <textSummary>Chance of
        showers</textSummary>\n         </abbreviatedForecast>\n         <temperatures>\n
        \           <textSummary>Low 8.</textSummary>\n            <temperature unitType=\"metric\"
        units=\"C\" class=\"low\">8</temperature>\n         </temperatures>\n         <winds>\n
        \           <wind index=\"1\" rank=\"major\">\n               <speed unitType=\"metric\"
        units=\"km/h\">05</speed>\n               <gust unitType=\"metric\" units=\"km/h\">00</gust>\n
        \              <direction>VR</direction>\n               <bearing units=\"degrees\">99</bearing>\n
        \           </wind>\n            <wind index=\"2\" rank=\"major\">\n               <speed
        unitType=\"metric\" units=\"km/h\">10</speed>\n               <gust unitType=\"metric\"
        units=\"km/h\">00</gust>\n               <direction>S</direction>\n               <bearing
        units=\"degrees\">18</bearing>\n            </wind>\n            <wind index=\"3\"
        rank=\"minor\">\n               <speed unitType=\"metric\" units=\"km/h\">10</speed>\n
        \              <gust unitType=\"metric\" units=\"km/h\">00</gust>\n               <direction>SW</direction>\n
        \              <bearing units=\"degrees\">22</bearing>\n            </wind>\n
        \        </winds>\n         <precipitation>\n            <textSummary/>\n
        \           <precipType start=\"19\" end=\"23\">rain</precipType>\n         </precipitation>\n
        \        <windChill/>\n         <relativeHumidity units=\"%\">75</relativeHumidity>\n
        \        <humidex/>\n      </forecast>\n      <forecast>\n         <period
        textForecastName=\"Saturday\">Saturday</period>\n         <textSummary>Sunny.
        Increasing cloudiness near noon then 30 percent chance of showers late in
        the afternoon. Wind becoming southwest 20 km/h gusting to 40 late in the mor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo.weather.gc.ca/geomet?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetFeature&TYPENAMES=Current-Alerts&outputFormat=application/json&BBOX=44.9495,-76.3315,45.8505,-75.0485,EPSG:4326
  response:
    body:
      string: '{

        "type": "FeatureCollection",

        "numberMatched": 0,

        "name": "Current-Alerts",

        "features": [


        ]

        }

        '
    headers:
      Content-Type:
      - application/json
      X-GeoMet-Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
