interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dd.weather.gc.ca/today/air_quality/doc/AQHI_XML_File_List.xml
  response:
    body:
      string: "<?xml version='1.0' encoding='utf-8' ?>\n<dataFile fileCreationDate=\"Tue
        Apr  8 19:37:46 2025\">\n\t<EC_administrativeZone abreviation=\"atl\" name_en_CA=\"Atlantic\"
        name_fr_CA=\"Atlantique\">\n\t\t<regionList>\n\t\t\t<region nameEn=\"Bathurst\"
        nameFr=\"Bathurst\" cgndb=\"DAFQX\" latitude=\"47.6261\" longitude=\"-65.6283\">\n\t\t\t\t<pathToCurrentObservation>http://dd.meteo.gc.ca/today/air_quality/atl/observation/realtime/xml/AQ_OBS_DAFQX_CURRENT.xml</pathToCurrentObservation>\n\t\t\t\t<pathToCurrentForecast>http://dd.meteo.gc.ca/today/air_quality/atl/forecast/realtime/xml/AQ_FCST_DAFQX_CURRENT.xml</pathToCurrentForecast>\n\t\t\t</region>\n\t\t\t<region
        nameEn=\"Burin\" nameFr=\"Burin\" cgndb=\"AADCE\" latitude=\"47.082841\" longitude=\"-55.175272\">\n\t\t\t\t<pathToCurrentObservation>http://dd.meteo.gc.ca/today/air_quality/atl/observation/realtime/xml/AQ_OBS_AADCE_CURRENT.xml</pathToCurrentObservation>\n\t\t\t\t<pathToCurrentForecast>http://dd.meteo.gc.ca/today/air_quality/atl/forecast/real[...]
